body{background-color: bisque}

h1{text-align: center; background-color: lightgray; border: 4px solid black; padding: 1px}

.job-title{font-style: italic; font-size: 17px}

.pro{font-weight: bold; font-size: 17px}

.loc{font-style: italic; font-size: 15.5px; color: rgb(64,64,64); margin:auto}

ol{font-family: sans-serif}

img{height: 100px; display: block; margin: auto}

.obj{text-align:center}

h2{text-align: center; background-color: lightgray; border: 2px solid black; border-radius: 15px; padding: 1px}

#pro,#int,#con{color: black; font-style: normal; text-decoration: none !important}

a{color: blue; margin: 10px}

